/* Fonts */
@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
/* Body */
body {
  margin: 0;
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
}
/* Header */
header {
  margin: 42px 0 17px;
}
/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo h1 {
  margin: 0;
  font-family: "DM Sans";
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  line-height: 47px;
  color: #d04f4f;
}

/* Main */
main {
  margin: 0 100px;
}
/* Search */
.search {
  background: #e7e7e7;
  border-radius: 5px;
}

.search input,
.search button {
  background: none;
  border: none;
}

.search input {
  padding: 23px 22px 24px;
  font-size: 18px;
  line-height: 22px;
}

.search input::placeholder {
  font-family: "Lato";
  opacity: 0.25;
}

.search button {
  padding: 0 20px;
}
